.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 40px;
  padding-top: 700px;
  max-height: 10000px;
  background-color:#282c34;
}

header.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.track-section {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.track-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.race-track {
  border: 2px solid black;
}

.slider-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

.lap-times-section {
  width: 100%;
  margin-top: 20px;
}

.lap-times-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  max-height: 200px;
}

.lap-time-container {
  margin: 10px;
  text-align: left;
}

.lap-time-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  max-height: 100px;
}

.lap-time-container li {
  background-color: #f0f0f0;
  margin: 2px 0;
  padding: 5px;
  border-radius: 5px;
}

.speed-slider {
  margin: 10px 0;
}

footer.App-footer {
  margin-top: 20px;
}

.info-panel {
  flex: 1;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .slider-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .info-panel {
    max-width: 100%;
  }
}
